<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="profilepPage.css">
    <script src="profilePage.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="menus"><a href="">Bills</a></div>
    <div class="profile-container">
        <img class="avatar" alt="avatar" src="default-av.png">
        <div class="profile-details">
        <p class="username" id="username">Username:</p>
        <p class="balance" id="balance">Balance:</p>
        </div>
    </div>
</div>
</body>
</html>